<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="js/user/UserController.js"></script>

</head>
<script>
var str = "http://localhost:9000/users"
var encoded = encodeURIComponent(str);

     $.get(encoded).success(function(data) {
            window.alert('Success: ' + data);
        }).error(function(data) {
            window.alert('Error: ' + data.responseText);
        }).complete(function(data) {
            window.alert('The call is now complete');
        });
</script>
       


<body ng-app="user">
    <header ng-controller="UserController as user">
        <div>
            <ul>
                <li>
                    <a ng-href="#">Courses</a>
                </li>
                <li>
                    <a ng-href="#">Test Engine</a>
                </li>
                <li>
                    <a ng-href="#">Forum - {{user.userData.sessionId}}</a>
                </li>
                <li>
                    <a ng-href="#">My Circle - {{user.userData.sessionId}}</a>
                </li>
            </ul>
        </div>
        <!-- End of Navigation -->
        <div>
            <h1>LearnFaust</h1>
        </div>
        <div>
        {{user.userData}}
            {{"Hi, " + user.userData.fname}}
        </div>
        <div>
            Badges : 
            <ul>
                <li ng-repeat="badge in user.userData.badges">
                    <img ng-src="{{badge.imgurl}}" width="24" height="24">{{badge.name + " - " + badge.count}}
                </li>
            </ul>
        </div>
        <!-- End of Badges Div-->

    </header>
    <!-- End of header -->
    <div ng-controller="ActivityController as activity">
        <h4>Recent Activity</h4>
        <div ng-repeat="activity in activity.activityData">
            <img ng-src="{{activity.avatar}}" width="32" height="32">
            <p><b>{{activity.name}} </b> {{activity.description}}</p>
            <small>{{activity.timestamp |date:'MMM,yy @ h:mma'}}</small>
        </div>
    </div>
    <!-- End of Activity div-->

    <!-- JavaScript Library-->

</body>

</html>